body {
    position: absolute;
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: none;
    padding: 0;
    margin: 0;
}
#game {
    position: absolute;
    width: 1440;
    height: 900;
    margin: 0;
    padding: 0;
    z-index: 5;

/*    background-color: rgba(61,50,41,0.45);*/
}

#back {
    background-color: #000;
    position: absolute;
    background-repeat: repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.stars {background-image: url("../assets/textures/stardust.png");}
.sunset {background-image: url("../assets/textures/stardustSunset.png");}
.mesh {background-image: url("../assets/textures/meshDkBlue.png");}
.canvas {background-image: url("../assets/textures/canvasDark.png");}
.black {
    background-image: url("../assets/textures/blackWash.png");
}
.dark {background-image: url("../assets/textures/dark_embroidery.png");}
.voronoi {background-image: url("../assets/textures/voronoi.png");}
.swirl {background-image: url("../assets/textures/swirlsDkGray.png");}
.symphony {background-image: url("../assets/textures/symphony.png");}
.angles {background-image: url("../assets/textures/angles.png");}
.paper {background-image: url("../assets/textures/paper.png");}
.lightPaper {background-image: url("../assets/textures/lightPaper.png");}
.rough {background-image: url("../assets/textures/roughPaper.png");}
.paperboard {background-image: url("../assets/textures/paperboard.png");}
.escher {background-image: url("../assets/textures/escherDark.png");}

.tree {background-image: url("../assets/backgrounds/tree.png");}


